<div class="container">
    <!-- Drop down con las categorías-->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 px-5 pb-4">
      <label for=""><strong>Selecione el tipo de campaña:</strong></label>
      <select class="form-select col-3" onchange={{action (mut this.query) value='target.value' }}>
        <option value="" selected disabled>Seleccione tipo de campaña</option>
        {{#each @objective as |obj|}}
        <option value={{obj.name}}>{{obj.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <!-- Drops down con las campañas -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 px-5 pb-2 text-center">
      <span><strong>Date 1</strong></span>
      <select class="form-select col-3" onchange={{action (mut selectedCamp1) value='target.value' }}>
        <option value="" selected disabled>Seleccione una campaña</option>
        <Campaign::Filter @campaigns={{@campaign}} @query={{this.query}} as |results|>
          {{#each results as |property|}}
          <option value={{property._id}}>{{property.name}}</option>
          {{/each}}
        </Campaign::Filter>
      </select>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 px-5 pb-2 text-center">
      <span><strong>Date 2</strong></span>
      <select class="form-select col-3" onchange={{action (mut selectedCamp2) value='target.value' }}>
        <option value="" selected disabled>Seleccione una campaña</option>
        <Campaign::Filter @campaigns={{@campaign}} @query={{this.query}} as |results|>
          {{#each results as |property|}}
          <option value={{property._id}}>{{property.name}}</option>
          {{/each}}
        </Campaign::Filter>
      </select>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 px-5 pb-2 text-center">
      <span><strong>Date 3</strong></span>
      <select class="form-select col-3" onchange={{action (mut selectedCamp3) value='target.value' }}>
        <option value="0" selected disabled>Seleccione una campaña</option>
        <Campaign::Filter @campaigns={{@campaign}} @query={{this.query}} as |results|>
          {{#each results as |property|}}
          <option value={{property._id}}>{{property.name}}</option>
          {{/each}}
        </Campaign::Filter>
      </select>
    </div>
  </div>
  <Campaign::FilterCalendar @insights={{@insight}} @queryCalendar={{selectedCamp1}} as |results| >
    <Campaign::Results @results={{@campaign}} @queryResult={{selectedCamp1}} as |ress|>
        <Campaign::Insight
        @isAble={{true}}
        @date={{ress.firstObject.name}}
        @reach={{results.firstObject.reach}}
        @impressions={{results.firstObject.impressions}}
        @spend={{results.firstObject.spend}}
        @cpc={{results.firstObject.cpc}}
        @ctr={{results.firstObject.ctr}}
        @date_start={{results.firstObject.date_start}}
        @date_stop={{results.firstObject.date_stop}}
      />
    </Campaign::Results>
  </Campaign::FilterCalendar>

  <Campaign::FilterCalendar @insights={{@insight}} @queryCalendar={{selectedCamp2}} as |results| >
    <Campaign::Results @results={{@campaign}} @queryResult={{selectedCamp2}} as |ress|>
        <Campaign::Insight
        @isAble={{true}}
        @date={{ress.firstObject.name}}
        @reach={{results.firstObject.reach}}
        @impressions={{results.firstObject.impressions}}
        @spend={{results.firstObject.spend}}
        @cpc={{results.firstObject.cpc}}
        @ctr={{results.firstObject.ctr}}
        @date_start={{results.firstObject.date_start}}
        @date_stop={{results.firstObject.date_stop}}
      />
    </Campaign::Results>
  </Campaign::FilterCalendar>

  <Campaign::FilterCalendar @insights={{@insight}} @queryCalendar={{selectedCamp3}} as |results| >
    <Campaign::Results @results={{@campaign}} @queryResult={{selectedCamp3}} as |ress|>
        <Campaign::Insight
        @isAble={{true}}
        @date={{ress.firstObject.name}}
        @reach={{results.firstObject.reach}}
        @impressions={{results.firstObject.impressions}}
        @spend={{results.firstObject.spend}}
        @cpc={{results.firstObject.cpc}}
        @ctr={{results.firstObject.ctr}}
        @date_start={{results.firstObject.date_start}}
        @date_stop={{results.firstObject.date_stop}}
      />
    </Campaign::Results>
  </Campaign::FilterCalendar>


</div>
{{yield}}