<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Social Lab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <LinkTo class="nav-link active" aria-current="page" @route="index"> Dashboard </LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo class="nav-link active" aria-current="page" @route="brand"> Marcas </LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo class="nav-link active" aria-current="page" @route="report"> Reportes </LinkTo>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        {{#if this.session.isAuthenticated}}
        <span class="text-light">Bienvenido {{ session.data.authenticated.user.displayName }}</span>
        <button class="btn btn-outline-light px-4 mx-3" {{action "logout"}}>Salir</button>
      {{else}}
        <button {{action "login"}}>Iniciar sesión</button>
      {{/if}}
      </form>
    </div>
  </div>
</nav>
  {{#if this.session.isAuthenticated}}
  <section>
    <div class="container-fluid bg-light p-3">
      <div class="container bg-white border rounded mt-4">
        {{outlet}}
      </div>
    </div>
  </section>
  {{/if}}


<script>
      var me = 3670953112943120;
      var token = 'EAAFgxRDxkZAoBAJZCWZBwxFF746Yqk01PIfI3x98ZCyQqjddxWSJ0qm8beHlubnMLmDu6RTJBwnd1ZB5MdmPN3NgC95W9VkRayIAAJC4YTmSC621bkFSCyK4xhoZB2RZCwXpIg5ymvRCEUDD9oRnxRdPNETwrCLOOrq0cIki289YbSN2O1XM1iMC8o7Kpm9RwzWAiQXz6TLrnm36gPeW9YgL057CKaQfdrGIbZBP6CdAVAZDZD';
      var idBussines = 141830073349263;
      var idPage = 811855325581793;
      var host = 'https://graph.facebook.com/v9.0/';
      var pageToken = 'EAAFgxRDxkZAoBAIZAB5pDNpRIrRZCC6cdutZCloXoWUDRMpBf8WaSZC1cS76l1ua4ohpvdE977IDPcj2s8jKzCtGs4wP5ZBZCJ9eFT2liiFowMLkUKnBDBXkAV0J6ZApZB44SffO3qzrwFhWqa8LDqQAVLOGiBBZCVNCdzuRT2SJbZBG4y6rnTZCztAcS7fjvVBFYDGmFI1f7xMYfgZDZD';

     $(document).ready(function(){
        $.ajax({
          type: "GET",
          dataType: "json",
          url: host+me+"?access_token="+token,
          success: function(data){
            console.log(data);
          },
          error: function(){
            console.log('Error');
          }
        });
          $.ajax({
          type: "GET",
          dataType: "json",
          url: host+me+"?fields=businesses{name}&access_token="+token,
          success: function(data){
            console.log(data);
          },
          error: function(){
            console.log('Error error bussines');
          }
      });
        $.ajax({
            type: "GET",
            dataType: "json",
            url: host+idPage+"/insights/page_impressions_unique&access_token="+pageToken,
            success: function(data){
              console.log(data);
            },
            error: function(){
              console.log(url);
            }
        });
     });
  </script>