<h1>Página de marcas</h1>
<section>
{{#each model as |brand|}}
<div>
  <div>{{brand.name}}</div>
  <div>{{brand.token}}</div>
</div>
{{/each}}
</section>
<h2>New Post</h2>
<ul class="">
  <li>
    {{input value=name placeholder="Nombre"}}
  </li>
  <li>
    {{textarea value=token placeholder="Token"}}
  </li>
  <li>
    <button {{action "createBrand"}}>Publish</button>
  </li>
</ul>
{{outlet}}