<section class="row">
  <div class="text-center">
    <h3 class="my-3">Dashboard</h3>
  </div>
  <!--Inicio componente -->
  <Campaign
    @objective={{@model.objective}}
    @campaign={{@model.campaign}}
    @insight={{@model.insight}}

    @center={{@model.insight.firstObject.date_start}}
    @maxDate={{@model.insight.firstObject.date_stop}}
  />
<!-- 
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center px-5">
      <PowerCalendarRange class="calendar-small mx-auto"
        @center={{@model.insights.firstObject.date_start}}
        @selected={{range}}
        @onCenterChange={{action (mut @model.insights.firstObject.date_start) value="date"}}
        @onSelect={{action (mut range) value="date"}}
        @minDate={{@model.insights.firstObject.date_start}}
        @maxDate={{@model.insights.firstObject.date_stop}}
        as |calendar|>
        <div class={{if calendar.loading 'loading-spiner-overlay'}}>
          <calendar.Nav/>
          <calendar.Days/>
        </div>

      </PowerCalendarRange>

    </div>
  </div>
 -->
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 mt-4 text-right">
      <span class="btn btn-primary mx-4" id="btnReporte">Generar reporte</span>
    </div>
  </div>

  <div class="container disabled border rounded my-5" id="info">
    <div class="row bg-primary text-white">
      <div class=" ">
        <h5>Facebook - Date 1</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <span><strong>Reach</strong></span>
        <br>
        <span></span>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <span><strong>Post Engagement</strong></span>
        <br>
        <span></span>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <span><strong>Impressions</strong></span>
        <br>
        <span></span>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <span><strong>CTR</strong></span>
        <br>
        <span></span>
      </div>
    </div>
  </div>
</section>
{{outlet}}