<h1>Insights per campaign</h1>
<section>

  <div class="container p-5">

      {{#each model as |insights|}}
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <span><strong>Campaign:</strong></span>
          <span>{{insights.id}}</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <span><strong>spend:</strong></span>
          <span>{{insights.spend}}</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <span><strong>cpc:</strong></span>
          <span>{{insights.cpc}}</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <span><strong>ctr:</strong></span>
          <span>{{insights.ctr}}</span>
        </div>
      </div>
      <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <span><strong>impressions:</strong></span>
          <span>{{insights.impressions}}</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <span><strong>reach:</strong></span>
          <span>{{insights.reach}}</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <span><strong>date_start:</strong></span>
          <span>{{insights.date_start}}</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <span><strong>date_stop:</strong></span>
          <span>{{insights.date_stop}}</span>
        </div>
      </div>
      <hr>
      {{/each}}
  </div>
</section>
